<a href="https://colab.research.google.com/github/waraporn19/KKU_data_mining/blob/master/Final_Exam_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. จากข้อมูล (```w_restaurant.csv```, ```search_click.csv```, ```search_request.csv```) ใน http://qr.tebs.io/6zqwEf สร้าง model เพื่อทำนาย (Classification) ว่าผลการ search เป็นร้านอาหารหรือไม่(```is_food = = True```) โดยพิจารณาจาก 
- วันในสัปดาห์ที่ทำการ search (```Monday-Sunday```) 
- วันในที่ทำการ search (```1-31```)
- เวลาที่ทำการ search (```1-24```)

หมายเหตุที่ 1 สามารถใช้ function ที่ให้มาช่วยในการทำงานได้
1. ```extract_time()``` ซึ่ง input เป็น ```timestamp``` และ output เป็น ```เวลาที่ทำการ search``` ```วันในที่ทำการ search``` ```วันในสัปดาห์ที่ทำการ search```

2. ```is_food``` ซึ่ง input เป็น ```category_name``` และ ```output``` เป็น คำตอบว่า ```เป็นร้านอาหารหรือไม่```

หมายเหตุที่ 2 ควรเตรียมข้อมูลโดยรวมข้อมูลจาก ตาราง ```w_restaurant.csv```, ```search_click.csv```, ```search_request.csv``` ให้ได้ในรูปแบบ ต่อไปนี้
![exam_table.PNG]()

(200 คะแนน)

In [1]:
# เรียกใช้ฟังก์ชั่น pandas
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#ให้ข้อมูลที่อยู่ใน Drive แทนด้วยชื่อ path
path = '/content/drive/My Drive/DM_2020'

In [6]:
import os
import pandas

In [9]:
w_restaurant= os.path.join(path,'w_restaurant.csv')  #สร้างที่อยู่โดยใช้ os.path.join
search_click= os.path.join(path,'search_click.csv')
search_request= os.path.join(path,'search_request.csv')

In [11]:
w_restaurant_df = pandas.read_csv(w_restaurant)
w_restaurant_df.head()

   Unnamed: 0  id              name  ...  hotel_restaurant  pet_friendly delivery
0           0   2  นครินทร์ทันตกรรม  ...               NaN           NaN      NaN
1           1   4      Corner House  ...               NaN           NaN      NaN
2           2   5    วัดโลกยสุธาราม  ...               NaN           NaN      NaN
3           3   6    นันท์คาราโอเกะ  ...               NaN           NaN      NaN
4           4   7       Buono Caffe  ...               NaN           NaN      NaN

[5 rows x 33 columns]

In [12]:
search_click_df = pandas.read_csv(search_click)
search_click_df.head()

   Unnamed: 0             click_timestamp  ...   time_diff_nanos   ads
0           0  2018-06-15 05:11:38.914154  ...  2222397704154000  True
1           1  2018-06-15 06:30:51.277476  ...   460838273476000  True
2           2  2018-06-15 06:32:09.558025  ...  2581491438025000  True
3           3  2018-06-15 06:00:59.820390  ...  1404578985390000  True
4           4  2018-06-15 05:23:36.828525  ...   933358625525000  True

[5 rows x 7 columns]

In [13]:
search_request_df = pandas.read_csv(search_request)
search_request_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [68]:
w_restaurant_df.shape 
# .shape เช็คว่าข้อมูลครบทุกแถวทุกคอลัมมั้ย

(246847, 33)

In [71]:
search_click_df.shape 
# .shape เช็คว่าข้อมูลครบทุกแถวทุกคอลัมมั้ย

(7882037, 7)

In [70]:
search_request_df.shape 
# .shape เช็คว่าข้อมูลครบทุกแถวทุกคอลัมมั้ย

(10004357, 10)

#เช็คดูว่าตารางเรามี missimg

In [72]:
# .isnull ดูว่าแต่ละช่องในตารางมีช่องว่างรึป่าว
search_click_df.isnull()

         Unnamed: 0  click_timestamp  ...  time_diff_nanos    ads
0             False            False  ...            False  False
1             False            False  ...            False  False
2             False            False  ...            False  False
3             False            False  ...            False  False
4             False            False  ...            False  False
...             ...              ...  ...              ...    ...
7882032       False            False  ...            False  False
7882033       False            False  ...            False  False
7882034       False            False  ...            False  False
7882035       False            False  ...            False  False
7882036       False            False  ...            False  False

[7882037 rows x 7 columns]

In [74]:
# .isnull ดูว่าแต่ละช่องในตารางมีช่องว่างรึป่าว
w_restaurant_df.isnull()

        Unnamed: 0     id   name  ...  hotel_restaurant  pet_friendly  delivery
0            False  False  False  ...              True          True      True
1            False  False  False  ...              True          True      True
2            False  False  False  ...              True          True      True
3            False  False  False  ...              True          True      True
4            False  False  False  ...              True          True      True
...            ...    ...    ...  ...               ...           ...       ...
246842       False  False  False  ...              True          True      True
246843       False  False  False  ...              True          True      True
246844       False  False  False  ...              True          True      True
246845       False  False  False  ...              True          True      True
246846       False  False  False  ...              True          True      True

[246847 rows x 33 columns]

In [75]:
# .isnull ดูว่าแต่ละช่องในตารางมีช่องว่างรึป่าว
search_request_df.isnull()

          Unnamed: 0  search_id  ...    lat   long
0              False      False  ...  False  False
1              False      False  ...  False  False
2              False      False  ...  False  False
3              False      False  ...  False  False
4              False      False  ...  False  False
...              ...        ...  ...    ...    ...
10004352       False      False  ...   True   True
10004353       False      False  ...   True   True
10004354       False      False  ...   True   True
10004355       False      False  ...   True   True
10004356       False      False  ...   True   True

[10004357 rows x 10 columns]

In [76]:
w_restaurant_df.isnull().any()
# .any นำข้อมูลมา or คือ T or T = T, T or F = F เพื่อหาว่าในคอลัมไหนที่มี True อยู่ ก็จะขึ้น True
# .all นำข้อมูลมา and 
# ถ้า มี .any().any() สองตัว คือดูว่าตารางมี misssing หรือไม่

Unnamed: 0                 False
id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [77]:
search_request_df.isnull().any()

Unnamed: 0          False
search_id           False
search_timestamp    False
user_agent          False
q                    True
user_id              True
session_id          False
number_of_result    False
lat                  True
long                 True
dtype: bool

#การลบ missing

In [78]:
w_restaurant_df_nm =w_restaurant_df.dropna()
# .dropna()  คือ ลบ missing ลบแล้ว ให้อยู่ในตาราง search_click_df_nm

In [79]:
# ดูว่าตารางยังมี missing อยู่ไหม
w_restaurant_df_nm.isnull().any().any()

False

In [80]:
# ดูว่าข้อมูลหายไปมากน้อยเท่าไร
print(w_restaurant_df.shape)
print(w_restaurant_df_nm.shape)

(246847, 33)
(4, 33)

#ตรวจสอบว่าการลบข้อมูล missing ออก

In [81]:
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df.dropna().shape[0]
print(f'size_before_drop = {size_before_drop} \nsize_after_drop = {size_after_drop}\
  \nwhich is {100*((size_before_drop - size_after_drop)/size_before_drop)}')

size_before_drop = 246847
size_after_drop = 4
which is 99.99837956304918

In [82]:
# .flillna(ค่าที่จะเติม) ใส่ค่าที่ missing 
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0) #fillna(0) ร้านส่วนใหญ่ไม่มีสาขาย่อย

In [83]:
w_restaurant_df.isnull().any()

Unnamed: 0                 False
id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [84]:
new_table = w_restaurant_df[['name','city_name','avg_price']]
new_table

                                        name  ... avg_price
0                           นครินทร์ทันตกรรม  ...       NaN
1                               Corner House  ...       NaN
2                             วัดโลกยสุธาราม  ...       NaN
3                             นันท์คาราโอเกะ  ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                     สะบายดี คาราโอเกะ  ...       NaN
246844                      สเต็กแม่&กาแฟลูก  ...       NaN
246845                              Mom Made  ...       NaN
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...       NaN

[246847 rows x 3 columns]

In [89]:
selected_list = new_table['city_name']=='Bangkok '
selected_list
# list เฉพาะตัวที่เราต้องการ: colume 0 ไม่มี Bangkok Metropolitan Region เลยขึ้น False แสดงว่าข้อมูลแถวนี้เราไม่เอา

0         False
1         False
2         False
3         False
4         False
          ...
246842    False
246843    False
246844    False
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [92]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table

                     name                    city_name  avg_price
1            Corner House  Bangkok Metropolitan Region        NaN
3          นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4             Buono Caffe  Bangkok Metropolitan Region        NaN
7                Sazanami  Bangkok Metropolitan Region        NaN
10         Rotee Me Chabu  Bangkok Metropolitan Region        NaN
...                   ...                          ...        ...
246835     ร้านครัวแกงป่า  Bangkok Metropolitan Region        NaN
246840       โตข้าวต้มปลา  Bangkok Metropolitan Region        NaN
246842         Sushi Tama  Bangkok Metropolitan Region        NaN
246843  สะบายดี คาราโอเกะ  Bangkok Metropolitan Region        NaN
246844   สเต็กแม่&กาแฟลูก  Bangkok Metropolitan Region        NaN

[100588 rows x 3 columns]

In [93]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp

                               name                    city_name  avg_price
67                      เล็กกุ้งเผา  Bangkok Metropolitan Region      375.0
134                        Cafe Cha  Bangkok Metropolitan Region      175.0
247              Masterpiece clinic  Bangkok Metropolitan Region     1500.0
319     Chaba Nails & Eyelashes Pro  Bangkok Metropolitan Region      375.0
382                   Panlee Bakery  Bangkok Metropolitan Region      175.0
...                             ...                          ...        ...
246458                  Farm Design  Bangkok Metropolitan Region       50.0
246472                  The Andaman  Bangkok Metropolitan Region     1500.0
246508     ZEN Japanese Restaurant   Bangkok Metropolitan Region      375.0
246666                   ต้นเครื่อง  Bangkok Metropolitan Region      375.0
246721                  Abelle cafe  Bangkok Metropolitan Region      375.0

[3001 rows x 3 columns]

In [94]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

In [95]:
bkk_table_dp_avg_price.mean()

392.5854715094968

In [96]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean()) 
bkk_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

              name                    city_name   avg_price
1     Corner House  Bangkok Metropolitan Region  392.585472
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region  392.585472
4      Buono Caffe  Bangkok Metropolitan Region  392.585472
7         Sazanami  Bangkok Metropolitan Region  392.585472
10  Rotee Me Chabu  Bangkok Metropolitan Region  392.585472

In [98]:
merged_table = search_click_df.merge, w_restaurant_df.merge(search_request_df,how='left',left_on='business_id',right_on='id')
merged_table

KeyError: ignored

In [102]:
 #จากตาราง  w_restaurant    เป็นร้านอาหารหรือไม่
 w_restaurant_df.groupby('category_name').count().sort_values('name')

                    Unnamed: 0     id  ...  pet_friendly  delivery
category_name                          ...
Zoo/Amusement Park           1      1  ...             0         0
University                   1      1  ...             0         0
City Pillar Shrine           1      1  ...             0         0
Exhibition                   1      1  ...             0         0
Science Center               1      1  ...             1         0
...                        ...    ...  ...           ...       ...
North East               12623  12623  ...           156       473
Quick Meal               15506  15506  ...           212       589
Café/Coffee Shop         25060  25060  ...           637       946
Noodles                  26761  26761  ...           301       736
Thai                     33979  33979  ...           356       874

[218 rows x 32 columns]

In [ ]:
import datetime
def extract_time(datetime_s):
    EX_date = datetime.datetime.strptime(datetime_s, "%Y-%m-%d %H:%M:%S.%f")
    return EX_date.hour, EX_date.day, get_day(EX_date.weekday()) 

def get_day(D):
    weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
    return weekdays[D] 

def is_food(inp):
    food_list = ['Vegeterian','Sushi','Sukiyaki/Shabu','Street Food/Food Stands','Steak House/Barbeque','Southern Food','Seafood','Ramen','Quick Meal','Pizza','Northern Food','Noodles','Mexican','Korean',
             'Japanese','Italian','Izakaya','Healthy Food','German Food','Fusion Food','French','Food Truck','Fastfood','Dim Sum','Delivery Only','Chinese','Cafe','Café/Coffee Shop','Buffet',
             'Breakfast/Brunch','Bakery/Cake','Barbeque/Grill','American']
    return inp in food_list

2. จากข้อมูล (```reduced_marketbasket.csv```) ใน http://qr.tebs.io/6zqwEf ให้เปรียบเทียบ รูปแบบ การซื้อที่น่าสนใจเป็นราย Transaction ของประชากรใน ประเทศ ```United Kingdom``` กับ ประเทศอื่นๆ (```'Country'!='United Kingdom'```)

(80 คะแนน)

In [18]:
# เรียกใช้ฟังก์ชั่น pandas
import pandas as pd

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
#ให้ข้อมูลที่อยู่ใน Drive แทนด้วยชื่อ path
path = '/content/drive/My Drive/DM_2020'

In [24]:
import os
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin1')
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [25]:
#จากตาราง data เราจะ groupby เพื่อดูว่า แต่ละ country นั้นขายสินค้าได้ประเทศละกี่ชิ้น.sort_values('Quantity') เรียง Quantity จากน้อยไปหามาก 
# ,ascending=False) เรียงจากมากไปน้อย
data.groupby('Country').sum().sort_values('Quantity')

                      Quantity     UnitPrice    CustomerID
Country
Saudi Arabia                75  2.411000e+01  1.256500e+05
Bahrain                    260  8.657000e+01  2.100270e+05
RSA                        352  2.481000e+02  7.218680e+05
Brazil                     356  1.426000e+02  4.086080e+05
Lebanon                    386  2.424400e+02  5.743800e+05
European Community         497  2.940500e+02  9.215880e+05
Czech Republic             592  8.815000e+01  3.834300e+05
Lithuania                  652  9.944000e+01  5.366200e+05
Malta                      944  6.660100e+02  2.158496e+06
United Arab Emirates       982  2.298900e+02  1.018952e+06
USA                       1034  6.449800e+02  3.672086e+06
Greece                    1556  7.132900e+02  2.008584e+06
Iceland                   2458  4.812100e+02  2.247154e+06
Canada                    2763  9.105800e+02  2.615483e+06
Unspecified               3300  1.204010e+03  3.348046e+06
Poland                    3653  1.422270e+03  4.341972e+06
Israel                    4353  1.079040e+03  3.164467e+06
Hong Kong                 4769  1.224150e+04  0.000000e+00
Austria                   4827  1.701520e+03  5.021102e+06
Singapore                 5234  2.510889e+04  2.918376e+06
Cyprus                    6317  3.920070e+03  7.715880e+06
Italy                     7999  3.879390e+03  1.015666e+07
Denmark                   8188  1.266950e+03  4.876734e+06
Channel Islands           9479  3.738550e+03  1.128522e+07
Finland                  10666  3.786850e+03  8.699324e+06
Portugal                 16180  1.303754e+04  1.886480e+07
Norway                   19247  6.529060e+03  1.350765e+07
Belgium                  23152  7.540130e+03  2.571829e+07
Japan                    25218  8.148600e+02  4.567292e+06
Spain                    26824  1.263345e+04  3.268929e+07
Switzerland              30325  6.813690e+03  2.377592e+07
Sweden                   35637  1.806830e+03  6.790083e+06
Australia                83653  4.054750e+03  1.569300e+07
France                  110480  4.303199e+04  1.076489e+08
Germany                 117448  3.766600e+04  1.200751e+08
EIRE                    142637  4.844719e+04  1.103917e+08
Netherlands             200128  6.492550e+03  3.419054e+07
United Kingdom         4263829  2.245715e+06  5.626433e+09

In [65]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [66]:
from apyori import apriori

In [40]:
data.groupby('CustomerID').sum

In [41]:


data.groupby('CustomerID').sum().sort_values('Quantity')

            Quantity  UnitPrice
CustomerID
16546.0         -303      53.03
15823.0         -283      85.19
14213.0         -244      24.45
16742.0         -189     472.65
16252.0         -158      67.10
...              ...        ...
18102.0        64122    5159.73
17450.0        69029    3320.09
14911.0        77180   31060.66
12415.0        77242    2499.82
14646.0       196719    5400.21

[4372 rows x 2 columns]

In [53]:

# .apply(list) คือ groupby แล้วไม่ต้องเอาไป Sum หรือทำอะไร ให้มันอยู่ในลิส 
# ตัว C หน้าเลข คือมีการลบ บางรายการในใบเสร็จนั้น
transecs =data.groupby('Country')['CustomerID'].apply(list)
transecs

Country
Australia               [12431.0, 12431.0, 12431.0, 12431.0, 12431.0, ...
Austria                 [12865.0, 12370.0, 12370.0, 12370.0, 12370.0, ...
Bahrain                 [nan, nan, 12355.0, 12355.0, 12355.0, 12355.0,...
Belgium                 [12395.0, 12395.0, 12395.0, 12395.0, 12395.0, ...
Brazil                  [12769.0, 12769.0, 12769.0, 12769.0, 12769.0, ...
Canada                  [15388.0, 15388.0, 15388.0, 15388.0, 15388.0, ...
Channel Islands         [14932.0, 14932.0, 14932.0, 14932.0, 14932.0, ...
Cyprus                  [12370.0, 12370.0, 12370.0, 12370.0, 12370.0, ...
Czech Republic          [12781.0, 12781.0, 12781.0, 12781.0, 12781.0, ...
Denmark                 [12429.0, 12429.0, 12429.0, 12429.0, 12429.0, ...
EIRE                    [14911.0, 14911.0, 14911.0, 14911.0, 14911.0, ...
European Community      [15108.0, 15108.0, 15108.0, 15108.0, 15108.0, ...
Finland                 [12348.0, 12348.0, 12348.0, 12348.0, 12348.0, ...
France                  [12583.0, 12583.0, 12583.0, 12583.0, 12583.0, ...
Germany                 [12662.0, 12662.0, 12662.0, 12662.0, 12662.0, ...
Greece                  [14439.0, 14439.0, 14439.0, 14439.0, 14439.0, ...
Hong Kong               [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
Iceland                 [12347.0, 12347.0, 12347.0, 12347.0, 12347.0, ...
Israel                  [12666.0, 12666.0, nan, nan, nan, nan, nan, na...
Italy                   [12725.0, 12725.0, 12725.0, 12725.0, 12725.0, ...
Japan                   [12763.0, 12763.0, 12763.0, 12763.0, 12763.0, ...
Lebanon                 [12764.0, 12764.0, 12764.0, 12764.0, 12764.0, ...
Lithuania               [15332.0, 15332.0, 15332.0, 15332.0, 15332.0, ...
Malta                   [17828.0, 17828.0, 17828.0, 17828.0, 17828.0, ...
Netherlands             [12791.0, 12791.0, 14646.0, 14646.0, 14646.0, ...
Norway                  [12433.0, 12433.0, 12433.0, 12433.0, 12433.0, ...
Poland                  [12779.0, 12779.0, 12779.0, 12779.0, 12779.0, ...
Portugal                [12793.0, 12793.0, 12793.0, 12793.0, 12793.0, ...
RSA                     [12446.0, 12446.0, 12446.0, 12446.0, 12446.0, ...
Saudi Arabia            [12565.0, 12565.0, 12565.0, 12565.0, 12565.0, ...
Singapore               [12744.0, 12744.0, 12744.0, 12744.0, 12744.0, ...
Spain                   [12557.0, 12557.0, 12557.0, 12557.0, 12557.0, ...
Sweden                  [17404.0, 17404.0, 17404.0, 17404.0, 17404.0, ...
Switzerland             [13520.0, 13520.0, 13520.0, 13520.0, 13520.0, ...
USA                     [12733.0, 12733.0, 12733.0, 12733.0, 12733.0, ...
United Arab Emirates    [17829.0, 17829.0, 17829.0, 17829.0, 17829.0, ...
United Kingdom          [17850.0, 17850.0, 17850.0, 17850.0, 17850.0, ...
Unspecified             [12363.0, 12363.0, 12363.0, 12363.0, 12363.0, ...
Name: CustomerID, dtype: object

In [112]:
list(apriori(transecs, min_support = 0.07, min_confidence = 0.7)) #เหลือ 3 คู่ ว่าคู่ไหนขายดีกว่ากัน   ประชากร ในประเทศ United Kingdom กับ ประเทศอื่นๆ ซื้อสินค้ามากกว่ากันเพื่อดูความสัมพันธ์นำไปทำกลยุทธ์ทางการตลาดประเทศ United Kingdom กับ ประเทศอื่นๆ  มีการซื้อสินค้าประเทศไหนมาก

KeyboardInterrupt: ignored

3. เขียนคำศัพท์ที่ได้เรียนในวิชาพร้อมทั้งคำนิยามที่เป็นคำพูดของนักศึกษาเอง (ห้าม search google) 20 คำ

(คำละ 0.5 คะแนน)

.head = (‘จำนวน row ที่อยากได้ออกมาแสดงนับจากแถวบนสุด’) เช่น dt.head(5)

matplotlib =  เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt

Dimention อธิบายตัวมุมมองของข้อมูล

Centrality =  กาารหาค่ากลาง เรียกดูข้อมูลใน table1
 
describe() = การอธิบายข้อมูลด้วยค่ากลาง

.split = คำสั่งแยก การใส่ (’,’) คือการตัด ,

.shape  = บอกจำนวน แถว หลัก

.isnull() = เช็คของมูลที่มีค่าเป็น Null ( True คือมี Null)

.notnull() = วิธีเช็คข้อมูล ที่ไม่เป็นเป็น Null

.query = วิธีกรองข้อมูลแบบมีเงื่อนไข

np2.shape  = บอกจำนวนแถวและหลัก ของ เมตริกซ์



.agg('mean') = การหาค่า mean, max , sum (aggregate)ทั้ง dataframe

.unique() = การหาค่าข้อมูลที่ไม่ซ้ำกันในแต่ละ column ex. data['column'].unique()

.replace()  = การแทนค่าข้อมูลในตาราง ex data.replace(1,50) เลข 1 ให้แทนด้วย 50

Slicing list[::-1] ย้อน list จากตัวสุดท้าย มาจนถึงตัวแรก

Fact table = เก็บ/ใช้อธิบายตัวที่เราสนใจจริง ๆ

Data Cube  = ข้อมูล 1 ตัวที่ถูกมองหลายมุม

hierarchy =  ลำดับชั้นดูได้หลายมุมมอง  โลก ทวีป  ประเทศ ขึ้นลงได้

roll up  = คือยุปรวมกันหลายเมือง - ประเทศ - ทวีป

drill down = การซูมดูรายละเอียดเกี่ยวข้อมูลเชิงลึกเช่น ปี ไตรมาสต์ สัปดาห์ วัน

.apply(list) = groupby แล้วไม่ต้องเอาไป Sum หรือทำอะไร ให้มันอยู่ในลิส 

KNN k =3 หาตัวที่ใกล้ที่สุด3 ตัว

weight = เช่น uniformให้น้ำหนักเพื่อนบ้านเท่ากัน

distance =  เช่น คนใกล้น้ำหนักมากกว่า

metric =  ระยะทาง ' minkowski'ขึ้นอยู่กับประเภทของข้อมูลที่เรากำลังวิเคราะห์อยู่

pivot = การ transpost

Numpy Array =เกี่ยวกับตัวเลข