<a href="https://colab.research.google.com/github/waraporn19/KKU_data_mining/blob/master/newB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 5.9 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.0 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 42.5 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [10]:
AA = os.path.join(path,'BB1.xlsx')

In [11]:
A1_set1= pd.read_excel(AA, sheet_name='B4Set2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                    หมายเหตุ
0    CEFE92E4-E005-4DDF-BB31-F3105F314593.png  ...  ค่า duration 1/100 ISO 630
1    6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png  ...  ค่า duration 1/100 ISO 630
2    0FA330C4-7EAC-4F6B-9169-ADD778255E24.png  ...  ค่า duration 1/100 ISO 630
3    FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png  ...  ค่า duration 1/100 ISO 630
4    E331F1F9-905A-4866-8928-26AEF36EAFF7.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
156  6E0B80B3-6DC1-47AD-AD8D-EFE2AAF8B3AC.png  ...  ค่า duration 1/100 ISO 630
157  504F5070-E2DE-4305-8CB1-5006C182A31C.png  ...  ค่า duration 1/100 ISO 630
158  F2A97B25-4347-40B3-BFDF-061D58A278E7.png  ...  ค่า duration 1/100 ISO 630
159  786FAC80-106C-494A-918D-B85D5B8103C8.png  ...  ค่า duration 1/100 ISO 630
160  8CAC4AD9-08AE-41D5-8C4D-393D04E75864.png  ...  ค่า duration 1/100 ISO 630

[161 rows x 7 columns]

In [12]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [13]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [14]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [15]:
A1_set1

                                          Img  ...                    หมายเหตุ
0    CEFE92E4-E005-4DDF-BB31-F3105F314593.png  ...  ค่า duration 1/100 ISO 630
1    6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png  ...  ค่า duration 1/100 ISO 630
2    0FA330C4-7EAC-4F6B-9169-ADD778255E24.png  ...  ค่า duration 1/100 ISO 630
3    FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png  ...  ค่า duration 1/100 ISO 630
4    E331F1F9-905A-4866-8928-26AEF36EAFF7.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
156  6E0B80B3-6DC1-47AD-AD8D-EFE2AAF8B3AC.png  ...  ค่า duration 1/100 ISO 630
157  504F5070-E2DE-4305-8CB1-5006C182A31C.png  ...  ค่า duration 1/100 ISO 630
158  F2A97B25-4347-40B3-BFDF-061D58A278E7.png  ...  ค่า duration 1/100 ISO 630
159  786FAC80-106C-494A-918D-B85D5B8103C8.png  ...  ค่า duration 1/100 ISO 630
160  8CAC4AD9-08AE-41D5-8C4D-393D04E75864.png  ...  ค่า duration 1/100 ISO 630

[161 rows x 7 columns]

In [16]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [17]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B4   A1  CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1    B4   A1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2    B4   A1  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3    B4   A1  FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4    B4   A1  E331F1F9-905A-4866-8928-26AEF36EAFF7.png
..   ..  ...                                       ...
156  B4   D4  6E0B80B3-6DC1-47AD-AD8D-EFE2AAF8B3AC.png
157  B4   D4  504F5070-E2DE-4305-8CB1-5006C182A31C.png
158  B4   D4  F2A97B25-4347-40B3-BFDF-061D58A278E7.png
159  B4   D4  786FAC80-106C-494A-918D-B85D5B8103C8.png
160  B4   D4  8CAC4AD9-08AE-41D5-8C4D-393D04E75864.png

[161 rows x 3 columns]

In [18]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B4   A1  CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1    B4   A1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2    B4   A1  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3    B4   A1  FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4    B4   A1  E331F1F9-905A-4866-8928-26AEF36EAFF7.png
..   ..  ...                                       ...
156  B4   D4  6E0B80B3-6DC1-47AD-AD8D-EFE2AAF8B3AC.png
157  B4   D4  504F5070-E2DE-4305-8CB1-5006C182A31C.png
158  B4   D4  F2A97B25-4347-40B3-BFDF-061D58A278E7.png
159  B4   D4  786FAC80-106C-494A-918D-B85D5B8103C8.png
160  B4   D4  8CAC4AD9-08AE-41D5-8C4D-393D04E75864.png

[161 rows x 3 columns]

In [19]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                    หมายเหตุ
0  CEFE92E4-E005-4DDF-BB31-F3105F314593.png  ...  ค่า duration 1/100 ISO 630
1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png  ...  ค่า duration 1/100 ISO 630
2  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png  ...  ค่า duration 1/100 ISO 630

[3 rows x 7 columns]

In [20]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [21]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [22]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [23]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [24]:
list_total1

[[229.1533154776398, 211.93937180423666, 167.06208911614317],
 [229.16889862835808, 211.95195195195194, 168.3072802532262],
 [228.8866163460758, 211.77899521142766, 168.4289424559695]]

In [25]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [26]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [27]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [28]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [29]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  21.871682  95.897005  233.520006  22.051782  64.264670  234.849363    Set1
1  21.457512  94.594270  233.130184  22.053973  64.141547  235.170035    Set1
2  21.454914  94.357844  234.275140  21.829397  63.936775  235.376187    Set1

In [30]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [31]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [32]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [33]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    232.498336  207.651733  143.646457  234.848876  218.742878  175.733463
1    232.012255  206.596056  144.686714  235.169467  218.896762  176.088223
2    233.085302  207.662365  145.572113  235.375132  218.588020  176.433650
3    233.319698  208.411330  145.859833  236.193328  220.045045  177.213213
4    233.285853  208.220842  145.567730  235.652057  219.679328  176.805373
..          ...         ...         ...         ...         ...         ...
156  238.615291  213.961529  150.280821  233.122961  212.790683  154.496145
157  238.873712  215.304358  150.806185  233.604091  213.536401  155.167519
158  239.369369  214.771447  151.588589  233.473825  213.034575  155.631199
159  238.092038  213.647837  150.516435  232.279442  211.665774  154.610340
160  236.997484  212.629981  150.642399  231.234559  210.561886  153.931661

[161 rows x 6 columns]

In [34]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [35]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set2'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.777291  97.613262  232.501826  22.051782  64.264670  234.849363    Set2
1    21.350864  96.138869  232.014934  22.053973  64.141547  235.170035    Set2
2    21.370911  95.895544  233.087006  21.829397  63.936775  235.376187    Set2
3    21.604983  95.768363  233.323350  22.068095  63.769986  236.194059    Set2
4    21.447285  96.041880  233.286259  22.089928  63.743852  235.652220    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  21.867706  94.565863  238.619349  22.298028  86.205746  233.125964    Set2
157  22.152260  94.155020  238.876796  22.365879  85.799773  233.606282    Set2
158  21.699132  93.657901  239.372535  22.170035  85.212807  233.476422    Set2
159  21.859021  93.937343  238.096258  22.124341  85.461813  232.280091    Set2
160  21.735898  93.057301  237.001299  22.108189  85.368639  231.236507    Set2

[161 rows x 7 columns]

In [36]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    232.498336  207.651733  ...    A1  CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1    232.012255  206.596056  ...    A1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2    233.085302  207.662365  ...    A1  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3    233.319698  208.411330  ...    A1  FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4    233.285853  208.220842  ...    A1  E331F1F9-905A-4866-8928-26AEF36EAFF7.png
..          ...         ...  ...   ...                                       ...
156  238.615291  213.961529  ...    D4  6E0B80B3-6DC1-47AD-AD8D-EFE2AAF8B3AC.png
157  238.873712  215.304358  ...    D4  504F5070-E2DE-4305-8CB1-5006C182A31C.png
158  239.369369  214.771447  ...    D4  F2A97B25-4347-40B3-BFDF-061D58A278E7.png
159  238.092038  213.647837  ...    D4  786FAC80-106C-494A-918D-B85D5B8103C8.png
160  236.997484  212.629981  ...    D4  8CAC4AD9-08AE-41D5-8C4D-393D04E75864.png

[161 rows x 16 columns]

#Datapoint 2

In [37]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [38]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [39]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    232.393556  207.513757  143.443876  234.743527  218.610584  175.549550
1    231.912182  206.453210  144.511322  235.058518  218.759435  175.911939
2    232.980927  207.514812  145.386251  235.260044  218.449720  176.249006
3    233.213294  208.263534  145.663258  236.074913  219.897573  177.008684
4    233.158916  208.063388  145.368314  235.554825  219.558964  176.654168
..          ...         ...         ...         ...         ...         ...
156  238.518789  213.818359  150.074426  232.976869  212.610340  154.242269
157  238.780213  215.166951  150.619998  233.467251  213.368801  154.935070
158  239.289100  214.639640  151.395828  233.340151  212.852122  155.367665
159  238.008360  213.509455  150.329762  232.149176  211.493791  154.370100
160  236.899278  212.487460  150.448259  231.093255  210.381463  153.699050

[161 rows x 6 columns]

In [40]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [41]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set2'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.775505  97.765116  232.397046  22.050483  64.377404  234.744014    Set2
1    21.345670  96.263777  231.914861  22.051863  64.239834  235.059086    Set2
2    21.364662  96.028082  232.982631  21.828585  64.041393  235.261099    Set2
3    21.601006  95.910965  233.216947  22.065579  63.892217  236.075643    Set2
4    21.445094  96.172876  233.159321  22.087899  63.827855  235.554987    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  21.854882  94.719747  238.522441  22.294862  86.374401  232.979872    Set2
157  22.143089  94.289262  238.782972  22.364175  85.953088  233.469442    Set2
158  21.685253  93.806834  239.292265  22.160214  85.398588  233.342505    Set2
159  21.846198  94.078240  238.012012  22.117848  85.627384  232.149826    Set2
160  21.727782  93.196737  236.902605  22.103401  85.515705  231.095203    Set2

[161 rows x 7 columns]

In [42]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    232.393556  207.513757  ...    A1  CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1    231.912182  206.453210  ...    A1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2    232.980927  207.514812  ...    A1  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3    233.213294  208.263534  ...    A1  FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4    233.158916  208.063388  ...    A1  E331F1F9-905A-4866-8928-26AEF36EAFF7.png
..          ...         ...  ...   ...                                       ...
156  238.518789  213.818359  ...    D4  6E0B80B3-6DC1-47AD-AD8D-EFE2AAF8B3AC.png
157  238.780213  215.166951  ...    D4  504F5070-E2DE-4305-8CB1-5006C182A31C.png
158  239.289100  214.639640  ...    D4  F2A97B25-4347-40B3-BFDF-061D58A278E7.png
159  238.008360  213.509455  ...    D4  786FAC80-106C-494A-918D-B85D5B8103C8.png
160  236.899278  212.487460  ...    D4  8CAC4AD9-08AE-41D5-8C4D-393D04E75864.png

[161 rows x 16 columns]

#Datapoint 3

In [43]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [44]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [45]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    230.130590  204.431945  139.176934  232.867868  216.273679  172.399805
1    229.679653  203.306063  140.722019  233.216135  216.417093  173.095447
2    230.659606  204.279279  141.440630  233.153072  216.121013  173.294700
3    230.845305  204.986771  141.463193  234.025079  217.401104  173.931580
4    230.667559  204.755702  141.285366  233.793767  217.316127  173.828667
..          ...         ...         ...         ...         ...         ...
156  236.666991  211.209967  146.449720  230.518951  209.437464  150.028001
157  236.884344  212.679084  147.313449  231.015989  210.267673  150.934421
158  237.653356  212.186105  147.910072  231.078078  209.844574  151.294132
159  236.243487  210.973947  147.044639  229.901063  208.574142  150.344371
160  234.970944  210.022076  147.140167  228.918270  207.545329  150.086925

[161 rows x 6 columns]

In [46]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [47]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set2'
t33

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    21.645402  100.899683  230.130590  ...  66.263696  232.867868     Set2
1    21.207775   98.888808  229.679653  ...  65.775992  233.216135     Set2
2    21.190812   98.733463  230.659606  ...  65.517247  233.153072     Set2
3    21.445581   98.859589  230.845305  ...  65.545004  234.025079     Set2
4    21.330249   98.901063  230.667559  ...  65.448990  233.793767     Set2
..         ...         ...         ...  ...        ...         ...      ...
156  21.647350   97.341044  236.666991  ...  89.173931  230.518951     Set2
157  22.028731   96.540459  236.884425  ...  88.520412  231.015989     Set2
158  21.494197   96.416281  237.654817  ...  88.176771  231.078078     Set2
159  21.681357   96.390472  236.243568  ...  88.368558  229.901063     Set2
160  21.687282   95.429835  234.970944  ...  87.841328  228.918270     Set2

[161 rows x 7 columns]

In [48]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    230.130590  204.431945  ...    A1  CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1    229.679653  203.306063  ...    A1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2    230.659606  204.279279  ...    A1  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3    230.845305  204.986771  ...    A1  FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4    230.667559  204.755702  ...    A1  E331F1F9-905A-4866-8928-26AEF36EAFF7.png
..          ...         ...  ...   ...                                       ...
156  236.666991  211.209967  ...    D4  6E0B80B3-6DC1-47AD-AD8D-EFE2AAF8B3AC.png
157  236.884344  212.679084  ...    D4  504F5070-E2DE-4305-8CB1-5006C182A31C.png
158  237.653356  212.186105  ...    D4  F2A97B25-4347-40B3-BFDF-061D58A278E7.png
159  236.243487  210.973947  ...    D4  786FAC80-106C-494A-918D-B85D5B8103C8.png
160  234.970944  210.022076  ...    D4  8CAC4AD9-08AE-41D5-8C4D-393D04E75864.png

[161 rows x 16 columns]

#Datapoint 4

In [49]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [50]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [51]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    227.764629  201.461083  135.264589  231.007223  214.041961  169.593053
1    227.282932  200.227335  137.131077  231.127181  214.039851  170.394692
2    228.101615  201.151286  137.695317  230.880935  213.776966  170.502232
3    228.208262  201.781430  137.419041  231.872575  214.925818  170.948381
4    228.070124  201.760409  137.561156  231.910153  215.010389  171.146741
..          ...         ...         ...         ...         ...         ...
156  234.360604  208.190731  142.457187  227.977924  206.468712  146.551741
157  234.492979  209.832643  143.549468  228.494116  207.367259  147.430809
158  235.585748  209.377810  144.100966  228.682899  206.966480  147.602792
159  233.886860  208.038552  143.408652  227.586641  205.854963  146.971593
160  232.606363  207.143738  143.561156  226.644104  204.944729  146.911209

[161 rows x 6 columns]

In [52]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [53]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set2'
t44

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    21.570327  103.630549  227.764629  ...  67.813895  231.007223     Set2
1    21.123285  101.241458  227.282932  ...  67.021833  231.127181     Set2
2    21.130022  101.124178  228.101615  ...  66.713091  230.880935     Set2
3    21.407353  101.516192  228.208262  ...  67.034413  231.872575     Set2
4    21.337716  101.242837  228.070124  ...  66.832319  231.910153     Set2
..         ...         ...         ...  ...        ...         ...      ...
156  21.468063  100.094635  234.360604  ...  91.149339  227.977924     Set2
157  21.995617   98.958932  234.492979  ...  90.532992  228.494116     Set2
158  21.325379   99.101534  235.585748  ...  90.494035  228.682899     Set2
159  21.590942   98.707248  233.886860  ...  90.388118  227.586641     Set2
160  21.648649   97.689230  232.606363  ...  89.682574  226.644104     Set2

[161 rows x 7 columns]

In [54]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    227.764629  201.461083  ...    A1  CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1    227.282932  200.227335  ...    A1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2    228.101615  201.151286  ...    A1  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3    228.208262  201.781430  ...    A1  FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4    228.070124  201.760409  ...    A1  E331F1F9-905A-4866-8928-26AEF36EAFF7.png
..          ...         ...  ...   ...                                       ...
156  234.360604  208.190731  ...    D4  6E0B80B3-6DC1-47AD-AD8D-EFE2AAF8B3AC.png
157  234.492979  209.832643  ...    D4  504F5070-E2DE-4305-8CB1-5006C182A31C.png
158  235.585748  209.377810  ...    D4  F2A97B25-4347-40B3-BFDF-061D58A278E7.png
159  233.886860  208.038552  ...    D4  786FAC80-106C-494A-918D-B85D5B8103C8.png
160  232.606363  207.143738  ...    D4  8CAC4AD9-08AE-41D5-8C4D-393D04E75864.png

[161 rows x 16 columns]

#Datapoint 5

In [55]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [56]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [57]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    225.228228  198.397127  131.731434  228.981495  211.823472  167.149339
1    224.827449  197.218895  133.718448  228.917945  211.776804  168.209886
2    225.440630  198.132051  134.206152  228.725834  211.612369  168.373833
3    225.530395  198.779888  133.862836  229.700430  212.698239  168.628602
4    225.290399  198.857317  134.051132  229.875010  212.760977  169.141709
..          ...         ...         ...         ...         ...         ...
156  232.170522  205.409382  139.084165  225.740524  203.998052  144.171577
157  232.184563  207.225063  140.545735  226.206396  204.992127  145.062008
158  233.525526  206.941644  140.923302  226.678435  204.714147  145.236263
159  231.565457  205.379271  140.466521  225.562454  203.664881  144.643130
160  230.234478  204.505641  140.635013  224.632822  202.764061  144.577794

[161 rows x 6 columns]

In [58]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [59]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set2'
t55

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    21.428050  105.869653  225.228228  ...  68.880367  228.981495     Set2
1    21.058112  103.389011  224.827449  ...  67.640938  228.917945     Set2
2    21.107946  103.209723  225.440630  ...  67.308173  228.725834     Set2
3    21.377810  103.662690  225.530395  ...  67.823310  229.700430     Set2
4    21.421394  103.284555  225.290399  ...  67.371885  229.875010     Set2
..         ...         ...         ...  ...        ...         ...      ...
156  21.309228  102.298596  232.170522  ...  92.180343  225.740524     Set2
157  21.973460  100.667559  232.184563  ...  91.521873  226.206396     Set2
158  21.282120  101.158185  233.525526  ...  91.671131  226.678435     Set2
159  21.522441  100.330006  231.565457  ...  91.514487  225.562454     Set2
160  21.634283   99.272056  230.234478  ...  90.842058  224.632822     Set2

[161 rows x 7 columns]

In [60]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    225.228228  198.397127  ...    A1  CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1    224.827449  197.218895  ...    A1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2    225.440630  198.132051  ...    A1  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3    225.530395  198.779888  ...    A1  FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4    225.290399  198.857317  ...    A1  E331F1F9-905A-4866-8928-26AEF36EAFF7.png
..          ...         ...  ...   ...                                       ...
156  232.170522  205.409382  ...    D4  6E0B80B3-6DC1-47AD-AD8D-EFE2AAF8B3AC.png
157  232.184563  207.225063  ...    D4  504F5070-E2DE-4305-8CB1-5006C182A31C.png
158  233.525526  206.941644  ...    D4  F2A97B25-4347-40B3-BFDF-061D58A278E7.png
159  231.565457  205.379271  ...    D4  786FAC80-106C-494A-918D-B85D5B8103C8.png
160  230.234478  204.505641  ...    D4  8CAC4AD9-08AE-41D5-8C4D-393D04E75864.png

[161 rows x 16 columns]

In [61]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    232.498336  207.651733  ...    A1  CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1    232.012255  206.596056  ...    A1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2    233.085302  207.662365  ...    A1  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3    233.319698  208.411330  ...    A1  FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4    233.285853  208.220842  ...    A1  E331F1F9-905A-4866-8928-26AEF36EAFF7.png
..          ...         ...  ...   ...                                       ...
156  232.170522  205.409382  ...    D4  6E0B80B3-6DC1-47AD-AD8D-EFE2AAF8B3AC.png
157  232.184563  207.225063  ...    D4  504F5070-E2DE-4305-8CB1-5006C182A31C.png
158  233.525526  206.941644  ...    D4  F2A97B25-4347-40B3-BFDF-061D58A278E7.png
159  231.565457  205.379271  ...    D4  786FAC80-106C-494A-918D-B85D5B8103C8.png
160  230.234478  204.505641  ...    D4  8CAC4AD9-08AE-41D5-8C4D-393D04E75864.png

[805 rows x 16 columns]

In [62]:
st1.to_csv('B4_2.csv', index=False)