<a href="https://colab.research.google.com/github/waraporn19/KKU_data_mining/blob/master/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [4]:
# เรียกใช้ฟังก์ชั่น os
import os

In [5]:
#ให้ข้อมูลที่อยู่ใน Drive แทนด้วยชื่อ path
path = '/content/drive/My Drive/DWDM_material'

In [6]:

search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')

In [7]:

import pandas

In [8]:
search_click_df = pandas.read_csv(search_click) # อ่านข้อมูลที่อยู่ในไฟล์ search_click โดยให้อยู่ในชื่อ search_click_df
search_click_df.head() # เรียกดูข้อมูลในไฟล์ search_click_df

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [9]:
w_restaurant_df = pandas.read_csv(w_restaurant) # อ่านข้อมูลที่อยู่ในไฟล์ w_restaurant โดยให้อยู่ในชื่อ w_restaurant_df
w_restaurant_df.head() # เรียกดูข้อมูลในไฟล์ w_restaurant_df

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

In [10]:
search_click_df.shape 
# .shape เช็คว่าข้อมูลครบทุกแถวทุกคอลัมมั้ย

(1048575, 6)

In [11]:
w_restaurant_df.shape

(246847, 32)

# Point to data in the table

In [12]:
search_click_df['search_id']  # เรียกดูข้อมูลในคอลัม

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [13]:
search_click_df['search_id'][0] # ใช้ index สองอันได้ เพื่่อดูแถวแรก

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [14]:
w_restaurant_df[['name','city_name','weighted_average_rating']] # สร้างตารางใหม่จากชื่อคอลัมป์ที่มีอยู่

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

#คำสั่ง .iloc

In [15]:
search_click_df.iloc[0,1] # การชี้ไปที่ตาราง เรียกดูข้อมูลโดยใช้แบบตาราง numphy array แถวที่ 0 ของคอลัมป์ที่ 1

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [16]:
search_click_df.iloc[:10,:2] # ชี้ไปที่ตาราง เรียกดูข้อมูล แถวที่ 0-9 ของคอลัมป์ที่ 0-1

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

#Missing Values ค่าผิดปกติ เช็คดูว่าตารางเรามี missimg มั้ย

In [18]:
# .isnull ดูว่าแต่ละช่องในตารางมีช่องว่างรึป่าว
search_click_df.isnull()

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [17]:
search_click_df.isnull().any()
# .any นำข้อมูลมา or คือ T or T = T, T or F = F เพื่อหาว่าในคอลัมไหนที่มี True อยู่ ก็จะขึ้น True
# .all นำข้อมูลมา and 
# ถ้า มี .any().any() สองตัว คือดูว่าตารางมี misssing หรือไม่

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

#Handling missing values

#การลบ missing

Method 1

In [19]:
search_click_df_nm = search_click_df.dropna()
# .dropna()  คือ ลบ missing ลบแล้ว ให้อยู่ในตาราง search_click_df_nm

In [20]:
# ดูว่าตารางยังมี missing อยู่ไหม
search_click_df_nm.isnull().any().any()

False

In [21]:
# ดูว่าข้อมูลหายไปมากน้อยเท่าไร
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

#Excercise 1 ตรวจสอบว่าการลบข้อมูล missing ออก

จากตาราง w_restaurant จะทำให้ข้อมูลลดลงกี่ %

In [24]:
#เว้นวรรค\ คือเว้นบรรทัดเขียนต่อ
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df.dropna().shape[0]
print(f'size_before_drop = {size_before_drop} \nsize_after_drop = {size_after_drop}\
  \nwhich is {100*((size_before_drop - size_after_drop)/size_before_drop)}')

size_before_drop = 246847
size_after_drop = 4
which is 99.99837956304918

In [25]:
# dropna เฉพาะ ตัวที่เราต้องการ 
w_restaurant_df.dropna(subset= ['id','name','price_range']).shape

(180972, 32)

#Method 2 (raplece with reasonable value)

แทนที่ด้วยค่าที่เหมาะสม

In [26]:
# .flillna(ค่าที่จะเติม) ใส่ค่าที่ missing 
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0) #fillna(0) ร้านส่วนใหญ่ไม่มีสาขาย่อย

In [27]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

#Method 2.1 (replace with unknow value)

เติมค่าตามฟิลอื่นที่ใกล้เคียง

In [28]:
new_tabel = w_restaurant_df[['name','city_name','avg_price']]
new_tabel

                                        name  ... avg_price
0                           นครินทร์ทันตกรรม  ...       NaN
1                               Corner House  ...       NaN
2                             วัดโลกยสุธาราม  ...       NaN
3                             นันท์คาราโอเกะ  ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                     สะบายดี คาราโอเกะ  ...       NaN
246844                      สเต็กแม่&กาแฟลูก  ...       NaN
246845                              Mom Made  ...       NaN
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...       NaN

[246847 rows x 3 columns]

# panpas  [PD] select dat

เลือกข้อมูลใน PD เลือกข้อมูลที่เราต้องการ

In [29]:
selected_list = new_tabel['city_name']=='Khon Kaen'
selected_list
# list เฉพาะตัวที่เราต้องการ: colume 0 ไม่มี Bangkok Metropolitan Region เลยขึ้น False แสดงว่าข้อมูลแถวนี้เราไม่เอา

0         False
1         False
2         False
3         False
4         False
          ...
246842    False
246843    False
246844    False
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [30]:
new_tabel[selected_list]

                                     name  city_name  avg_price
81                            WISH CLINIC  Khon Kaen        NaN
317                              Pomodoro  Khon Kaen        NaN
390                            ครัวอรวรรณ  Khon Kaen        NaN
452                        วาสนาเคียมห้วย  Khon Kaen        NaN
514                           ส้มตำศิริพร  Khon Kaen        NaN
...                                   ...        ...        ...
246312  สเวนเซ่นส์ เซ็นทรัลพลาซ่า ขอนแก่น  Khon Kaen        NaN
246335                     คิดถึงเบเกอรี่  Khon Kaen        NaN
246638                    Firehaus Bistro  Khon Kaen        NaN
246748                        ร้านป้าจ่อย  Khon Kaen        NaN
246818                            Coffman  Khon Kaen        NaN

[4177 rows x 3 columns]

#ex 9 หาราคาเฉลี่ยของร้านในจังหวัดขอนแก่น

In [33]:
selected_list = new_tabel['city_name']=='Bangkok Metropolitan Region'
selected_list

0         False
1          True
2         False
3          True
4          True
          ...
246842     True
246843     True
246844     True
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [ ]:
new_tabel[new_tabel['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()
# สร้างตารางใหม่ โดยสร้างมาจากตาราง new_table เอาตาราง [new_tabel['city_name']=='Bangkok Metropolitan Region'] มาใส่ 
# โดยเอามาแค่ ['avg_price'] แล้วต้องการแค่ mean

In [34]:
#1 เลือกเฉพาะ กรุงเทพ
bkk_table = new_tabel[new_tabel['city_name']=='Bangkok Metropolitan Region']
bkk_table

                     name                    city_name  avg_price
1            Corner House  Bangkok Metropolitan Region        NaN
3          นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4             Buono Caffe  Bangkok Metropolitan Region        NaN
7                Sazanami  Bangkok Metropolitan Region        NaN
10         Rotee Me Chabu  Bangkok Metropolitan Region        NaN
...                   ...                          ...        ...
246835     ร้านครัวแกงป่า  Bangkok Metropolitan Region        NaN
246840       โตข้าวต้มปลา  Bangkok Metropolitan Region        NaN
246842         Sushi Tama  Bangkok Metropolitan Region        NaN
246843  สะบายดี คาราโอเกะ  Bangkok Metropolitan Region        NaN
246844   สเต็กแม่&กาแฟลูก  Bangkok Metropolitan Region        NaN

[100588 rows x 3 columns]

ลบ missing

In [35]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp

                               name                    city_name  avg_price
67                      เล็กกุ้งเผา  Bangkok Metropolitan Region      375.0
134                        Cafe Cha  Bangkok Metropolitan Region      175.0
247              Masterpiece clinic  Bangkok Metropolitan Region     1500.0
319     Chaba Nails & Eyelashes Pro  Bangkok Metropolitan Region      375.0
382                   Panlee Bakery  Bangkok Metropolitan Region      175.0
...                             ...                          ...        ...
246458                  Farm Design  Bangkok Metropolitan Region       50.0
246472                  The Andaman  Bangkok Metropolitan Region     1500.0
246508     ZEN Japanese Restaurant   Bangkok Metropolitan Region      375.0
246666                   ต้นเครื่อง  Bangkok Metropolitan Region      375.0
246721                  Abelle cafe  Bangkok Metropolitan Region      375.0

[3001 rows x 3 columns]

3. เลือกเฉพาะ colomn 'avg_price'

In [36]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

4. หาค่าเฉลี่ย

In [37]:
bkk_table_dp_avg_price.mean()

392.5854715094968

#Ex.9 หาราคาเฉลี่ยของร้านในเชียงใหม่

In [38]:
new_tabel[new_tabel['city_name']=='Chiang Mai'].dropna()['avg_price'].mean()

188.41594827586206

#แก้ missing method 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [39]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean()) 
bkk_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

              name                    city_name   avg_price
1     Corner House  Bangkok Metropolitan Region  392.585472
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region  392.585472
4      Buono Caffe  Bangkok Metropolitan Region  392.585472
7         Sazanami  Bangkok Metropolitan Region  392.585472
10  Rotee Me Chabu  Bangkok Metropolitan Region  392.585472

#[PD] ต่อตารางในแนวแกน Y (เพิ่มจำนวน data)

In [41]:
# หาค่าเฉลี่ยของร้านในเชียงใหม่
cm_table = new_tabel[new_tabel['city_name']=='Chiang Mai'] # ตารางที่มีค่าทั้งหมด ทั้ง มีและไม่มี missing
cm_table_dp = cm_table.dropna()
cm_table_dp_avg_price = cm_table_dp['avg_price']
cm_table_dp_avg_price.mean()

188.41594827586206

In [43]:
# เติมค่าเฉลี่ยของร้านในเชียงใหม่ ลงในช่องที่ missing
cm_table[['avg_price']] = cm_table[['avg_price']].fillna(cm_table_dp_avg_price.mean()) 
cm_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                            name   city_name   avg_price
36                   Wrap Master  Chiang Mai  188.415948
40                         Sozen  Chiang Mai  188.415948
52           ไวท์ดราก้อน หมูกะทะ  Chiang Mai  188.415948
60  เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์  Chiang Mai  188.415948
79            ก๋วยเตี๋ยวเรือสะใจ  Chiang Mai  188.415948