<a href="https://colab.research.google.com/github/waraporn19/KKU_data_mining/blob/master/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
 path = '/content/drive/My Drive/DWDM_material'

In [ ]:
import pandas

In [ ]:
import os

In [ ]:
search_click = os.path.join(path, 'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')

In [ ]:
search_click_df = pandas.read_csv(search_click)

In [ ]:
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [ ]:
w_restaurant_df = pandas.read_csv(search_click)

In [ ]:
w_restaurant_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [ ]:
search_click_df.shape #.shape บอกตาราง ว่ามีAutiblue,แถว เท่าไหร่

(1048575, 6)

In [ ]:
w_restaurant_df.shape

(1048575, 6)

In [ ]:
search_click_df['search_id'][0] # [colum][ลำดับที่]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [ ]:
w_restaurant_df[[ 'name', 'city_name', 'weighted_average_rating']] # ตาราง[[listของcolum]] เ คือเรียก colum ที่ต้องการ

KeyError: ignored

In [ ]:
search_click.iloc[0,1] #[แถว,colum]

In [ ]:
search_click_df.iloc[:10,:2] #แถวที่ 0 ถึง colum 9

#missing values

In [ ]:
search_click_df.isnull().any() #.isnull ใส่ค่าทุกตัว ที่ missing  คำสั่ง .any() เอาความจริงแต่ละ colum มารวมกัน

In [ ]:
#คำสั่งลบ missing คือ nm
search_click_df_nm =  search_click_df.dropna()

In [ ]:
search_click_df_nm.isnull().any().any()

In [ ]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

#Excercise 1 ตรวจสอบว่า การลบข้อมูล missing ออก
จากตาราง w_restaurant จะทำให้ข้อมูลลดลงกี่ %

เว้นวรรค\ คือเว้นบรรทัดเขียนต่อ

In [ ]:
size_before_drop = w_restaurant_df.shape[0]
size_before_drop = w_restaurant_df.dropna().shape[0]
print(f'size before drop  =  {size_before_drop} size after drop = {size_after_drop}') \nwhich is {100*((size_before_drop-size_after_drop)/ size_befere_drop)}')

SyntaxError: ignored

In [ ]:
w_restaurant_df.dropna(subset=['id','name','price_range']).shape #

NameError: ignored

In [ ]:
#คำสั่ง

In [ ]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['name_of_chains']].fillna(0)

In [ ]:
w_restaurant_df.isnull().any()