<a href="https://colab.research.google.com/github/waraporn19/KKU_data_mining/blob/master/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/DWDM_material'

In [ ]:
import os
import pandas

In [ ]:
Import= os.path.join(path,'Import.csv')  #สร้างที่อยู่โดยใช้ os.path.join
Export= os.path.join(path,'Export.csv')

In [ ]:
Import_df = pandas.read_csv(Import)
Import_df.head()

    ประเทศนำเข้า   ... มูลค่ารวมทั้งสิ้น (ลบ.)
0   สหรัฐอเมริกา   ...                 25842.67
1         บราซิล   ...                 22272.29
2         ยูเครน   ...                 11805.98
3    อาร์เจนตินา   ...                  9179.14
4            จีน   ...                  7281.89

[5 rows x 13 columns]

In [ ]:
Export_df = pandas.read_csv(Export) 
Export_df.head()

  ประเทศที่ส่งออก  ...  มูลค่ารวมทั้งสิ้น (บาท)
0    สหรัฐอเมริกา  ...             5.832218e+08
1         ญี่ปุ่น  ...             4.446315e+08
2             จีน  ...             3.501261e+08
3        มาเลเซีย  ...             2.586686e+08
4          อิตาลี  ...             2.406755e+08

[5 rows x 19 columns]

In [ ]:
Import_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(69, 13)

In [ ]:
Export_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(53, 19)

#Missing Values ค่าผิดปกติ เช็คดูว่าตารางเรามี missing

In [ ]:
Import_df.isnull() # .isnull ดูว่าแต่ละช่องในตารางมีช่องว่างรึป่าว

     ประเทศนำเข้า   ...  มูลค่ารวมทั้งสิ้น (ลบ.)
0            False  ...                     False
1            False  ...                     False
2            False  ...                     False
3            False  ...                     False
4            False  ...                     False
..             ...  ...                       ...
64           False  ...                     False
65           False  ...                     False
66           False  ...                     False
67           False  ...                     False
68           False  ...                     False

[69 rows x 13 columns]

In [ ]:
Export_df.isnull()

    ประเทศที่ส่งออก  ...  มูลค่ารวมทั้งสิ้น (บาท)
0             False  ...                    False
1             False  ...                    False
2             False  ...                    False
3             False  ...                    False
4             False  ...                    False
5             False  ...                    False
6             False  ...                    False
7             False  ...                    False
8             False  ...                    False
9             False  ...                    False
10            False  ...                    False
11            False  ...                    False
12            False  ...                    False
13            False  ...                    False
14            False  ...                    False
15            False  ...                    False
16            False  ...                    False
17            False  ...                    False
18            False  ...                    False
19            False  ...                    False
20            False  ...                    False
21            False  ...                    False
22            False  ...                    False
23            False  ...                    False
24            False  ...                    False
25            False  ...                    False
26            False  ...                    False
27            False  ...                    False
28            False  ...                    False
29            False  ...                    False
30            False  ...                    False
31            False  ...                    False
32            False  ...                    False
33            False  ...                    False
34            False  ...                    False
35            False  ...                    False
36            False  ...                    False
37            False  ...                    False
38            False  ...                    False
39            False  ...                    False
40            False  ...                    False
41            False  ...                    False
42            False  ...                    False
43            False  ...                    False
44            False  ...                    False
45            False  ...                    False
46            False  ...                    False
47            False  ...                    False
48            False  ...                    False
49            False  ...                    False
50            False  ...                    False
51            False  ...                    False
52            False  ...                    False

[53 rows x 19 columns]

In [ ]:
Export_df.isnull().any()

ประเทศที่ส่งออก                          False
ปริมาณปลาป่น (กก.)                        True
มูลค่าปลาป่น (บาท)                        True
ปริมาณ อาหารสุนัขและแมว (กก.)             True
มูลค่าอาหารสุนัขและแมว (บาท)              True
ปริมาณอาหารใช้เลี้ยงสัตว์อื่น ๆ (กก.)     True
มูลค่าอาหารใช้เลี้ยงสัตว์อื่น ๆ (บาท)     True
ปริมาณอาหารเสริมสัตว์เลี้ยง (กก.)         True
มูลค่าอาหารเสริมสัตว์เลี้ยง (บาท)         True
ปริมาณพรีมิกซ์ (กก.)                      True
มูลค่าพรีมิกซ์ (บาท)                      True
ปริมาณอาหารกระป๋องสุนัขและแมว (กก.)       True
มูลค่าอาหารกระป๋องสุนัขและแมว (บาท)       True
ปริมาณDog Chews (กก.)                     True
มูลค่าDog Chews (บาท)                     True
ปริมาณอาหารสัตว์น้ำ (กก.)                 True
มูลค่าอาหารสัตว์น้ำ (บาท)                 True
ปริมาณรวมทั้งสิ้น (กก.)                  False
มูลค่ารวมทั้งสิ้น (บาท)                  False
dtype: bool

#แก้ไขค่า missing โดยใช้ fallna

In [ ]:
Export_df[['ปริมาณปลาป่น (กก.)']] = Export_df[['ปริมาณปลาป่น (กก.)']].fillna(0)

#การลบ missing

In [ ]:
# .dropna() ลบ missing ลบแล้ว ให้อยู่ในตาราง Export_df_nm
Export_df_nm =Export_df_df.dropna()

In [ ]:
# ดูว่าตารางยังมี missing อยู่มั้ย
Export_df_nm.isnull().any().any()

False

In [ ]:
# ดูว่าข้อมูลหายไปมากน้อยเท่าไร
print(Export_df.shape)
print(Export_df_nm.shape)

(53, 19)
(0, 19)

In [ ]:
size_before_drop = Export_df.shape[0]
size_after_drop =Export_df.dropna().shape[0]
print(f'size_before_drop = {size_before_drop} \nsize_after_drop = {size_after_drop}\
  \nwhich is {100*((size_before_drop - size_after_drop)/size_before_drop)}')

size_before_drop = 53
size_after_drop = 0
which is 100.0

In [ ]:
# คำสั่ง pandas.concat นำตารางมารวมกัน ต่อกันในแนวแกน Y (ต่อด้านล่าง)
pd_concat = pandas.concat([Import_df,Export_df])
pd_concat

     ประเทศนำเข้า   ... มูลค่ารวมทั้งสิ้น (บาท)
0    สหรัฐอเมริกา   ...                     NaN
1          บราซิล   ...                     NaN
2          ยูเครน   ...                     NaN
3     อาร์เจนตินา   ...                     NaN
4             จีน   ...                     NaN
..             ...  ...                     ...
48             NaN  ...               106062.04
49             NaN  ...                55554.62
50             NaN  ...                  154.00
51             NaN  ...                  132.89
52             NaN  ...                   32.00

[122 rows x 32 columns]

In [ ]:

Export_table_dp = Export_table.dropna()
Export_table_dp