<a href="https://colab.research.google.com/github/waraporn19/KKU_data_mining/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pd, os, scatter plot, กาารหาค่ากลาง, ควอไทน์ที่ 1, if, List Slicing


.head(‘จำนวน row ที่อยากได้ออกมาแสดงนับจากแถวบนสุด’) เช่น dt.head(8)

.tail

.shape บอกจำนวน แถว หลัก

.append(ตัวเลขที่จะเพิ่มเข้าไป)

.sort() เรียงน้อย ->มาก

.sort(reverse=True) // .reverse() เรียงมาก ->น้อย

.sample(9) เพื่อดูข้อมูลแบบสุ่มจำนวน 9 แถว

.info เพื่อเรียกดูข้อมูลของ Data Frame

.astype(‘ชนิดของข้อมูลที่ต้องการ’) ex. ('int35'), (float55')

.describe() การหาค่า (count, mean ,std ,min ,25% ,50% ,75%, max)ของข้อมูลแต่ละ column

.isnull() เช็คของมูลที่มีค่าเป็น Null : True คือมี Null

.notnull() วิธีเช็คข้อมูล ที่ไม่เป็นเป็น Null

.query(‘เงื่อนไขที่ต้องการ’) วิธีกรองข้อมูลแบบมีเงื่อนไข

.T สลับ Row กับ Column: transpose

.merge(table1, table2, left_on=”column table1”, right_on=”column table2”, how=”รูปแบบการ join”)

”inner” “outer” “left” “right”

.agg('mean') การหาค่า mean, max , sum (aggregate)ทั้ง dataframe

.unique() การหาค่าข้อมูลที่ไม่ซ้ำกันในแต่ละ column ex. data['column'].unique()

.duplicated() ex. data.duplicated(['column'])

การนับข้อมูลที่ duplicate() -> len(dataframe[dataframe.duplicated([‘column name’], keep = False)])

.replace() การแทนค่าข้อมูลในตาราง ex data.replace(1,50) เลข 1 ให้แทนด้วย 50

pd.DataFrame(ชื่อlist)

.loc['ชื่อของแถว']

.iloc[ลำดับตัวเลข] เริ่มจาก 0

list(range(-4,99,3) เริ่มจาก-4 ไปถึง 99 โดยเพิ่มทีละ 3

Slicing
list[::-1] ย้อน list จากตัวสุดท้าย มาจนถึงตัวแรก

Data102

Box plot, Scatter plot, Plot (หาจุดแรกม เพิ่มสี ) , Bar chart, Histogram

แทรกข้อมูลด้วย hstack คือการแทรกข้อมูลในแนวตั้ง

แทรกข้อมูลด้วย vstack คือการแทรกข้อมูลในแนวนอน

#Data103 Distance
Numpy Array, process, Distance of nominal or categorical features

สร้าง array ที่มีค่าเป็น 1 ด้วย np.ones([ขนาดแถว, ขนาดหลัก]) : (( , ))

สร้าง array ที่มีค่าเป็น 0 ด้วย np.zeros([ขนาดแถว, ขนาดหลัก])

Dimention อธิบายตัวมุมมองของข้อมูล

Fact table เก็บ/ใช้อธิบายตัวที่เราสนใจจริง ๆ

Data Cube ข้อมูล 1 ตัวที่ถูกมองหลายมุม

star Schema measures

Snawfleck บางมุมมองของข้อมูลถูก normalize

fact constellation schema มี fact หลายตัวเชื่อมกัน

hierarchy ลำดับชั้น ดูได้หลายมุมมอง ปท. ทวีป โลก ขึ้นลงได้

roll up ยุปรวม หลายเมือง - ประเทศ - ทวีป

drill down การซูมดู ปี Q สัปดาห์ วัน

slice/Dice หัาน ให้เป็นแผ่น / ลูกเต๋าเล็กๆ

pivot การ transpost

KNN
k=3 หาตัวที่ใกล้ที่สุด3 ตัว

ใช้การโหวต

weight = uniformให้นน.เพื่อนบ้านเท่ากัน, distance คนใกล้นน.มากกว่า

metric ระยะทาง ' minkowski' Manhattan, Minkowski, Cosine หรือ Jaccard ขึ้นอยู่กับประเภทของข้อมูลที่เรากำลังวิเคราะห์อยู่